/* BASE FONT AND GETTING RID OF THE DEFAULT WHITE BORDER */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 12px;
}
html{
    scroll-behavior: smooth;
}
@view-transition{
    navigation: auto;
}
main{
    view-transition-name: main;
}
.tooltip_leeslijst{
    view-transition-name: tooltip;
}
/* Create a custom animation */
@keyframes move-out {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes move-in {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
  /* Create a custom animation */
@keyframes move-out-2 {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
  
  @keyframes move-in-2 {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
  
  /* Apply the custom animation to the old and new page states */
  ::view-transition-old(main) {
    animation: 1s ease-in both move-out;
  }
  
  ::view-transition-new(main) {
    animation: 1s ease-in both move-in;
  }
  ::view-transition-old(tooltip) {
    animation: 1s ease-in both move-out-2;
  }
  
  ::view-transition-new(tooltip) {
    animation: 1s ease-in both move-in-2;
  }
/*  Added Tiempos */
@font-face {
    font-family: 'Tiempos Text';
    src: url('./../fonts/TiemposText-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('./../fonts/TiemposText-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('./../fonts/TiemposHeadline-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
/* NO LINE */
a{
    text-decoration: none;
    cursor: pointer;
}
/*  VARS! */
:root{
    --basefont: "Inter", sans-serif;
    --black: #000000;
    --grey-text: #7B7B7A;
    --dark-grey: #747474;
    --dark-grey-text: #7A7A7A;
    --light-border: #e1e1e1;
    --red: #E85340;
    --light-red: #F9D4CF;
    --lighter-red: #F9CDC8;
    --lightest-red: #FFF4F2;
    --brownred: #AF726B;
    --redactortext: #444;
    
    --white: #FFFFFF;
    --grey-bg: #F7F7F5;

    /* --e-global-color-eed1383: #E6E6E6;
    --e-global-color-3944fa7: #CECECE;
    --e-global-color-782b16e: #AEAEAE; */
    --yellow: #FAC232;
    --black-opacity: #000000B5;
    --light-green: #F4FBE9;
    /* --e-global-color-aace5e4: #EBEBEB; */
    font-size: 12px;
}
@media (prefers-contrast: more){
    :root{
        --red: #9B2212;
        --brownred: #8B504B;
        --grey-text: #757575;
    }
}
/* Remove base button styling because it blows */
.hidden{
    display: none !important;
}
.hidden_title{
    font-size: 0;
}
.desktop_hidden {
    @media (min-width: 860px) {
     display: none !important;
    }
   }
   .mobile_hidden {
    @media (max-width: 859px) {
     display: none !important;
    }
   } 
button, 
input[type="submit"], 
input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

main > .grid_receiver{
    padding: 0 16px;
}

aside{
    padding: 27px;
}

h1, 
.h1, 
h2, 
.h2{
    font-family: 'Tiempos Headline', sans-serif;   
    letter-spacing: -1px;
}

h1, 
.h1{
    font-size: 32px;
    line-height: 1.2em;
    letter-spacing: -1px;
}
em {
    font-size: inherit;
}
/* default search popup */
#search-popup{
    display: none;
}

/* POPUP BODY */
body.has-popup{
    &:before{
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #FFFFFFE6;
        z-index: 10;
        content: '';
        top: 0;
        left: 0;
    }
}



/* NEW HEADER STYLES */

header + main{
    margin-top: 56px;
    @media (min-width: 860px){
        margin-top: 49px;
    }
}

/* UGLY SKIP TO THE CONTENT LINK */
.skip-to-content-link {
    background: rebeccapurple;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translate(-50%, -100%);
    transition: transform 0.3s;
    color: white;
    z-index: 999999;
}

.skip-to-content-link:focus {
    transform: translate(-50%, 0%);
}

.shape_green {
    display: none;
    position: absolute;
    top: 0px;
    width: calc(100% + 0px);
    left: 0px;
    height: calc(100% + 49px);
    height: calc(100% + 59px);
    z-index: -2;
   
    .filter-effect {
     filter: url(#filter0_d_42_1068);
     @media (min-width: 860px) {
      filter: none;
     }
    }
   
    path {
     @media (min-width: 860px) {
      stroke: transparent;
   
     }
    }
    @media (min-width: 860px){
     display: block;
    }
    @media (min-width: 1100px){
     height: calc(100% + 49px);
    }
   }
   
.grid_giver {
    margin: 0 0 1.25rem 0;
    display: grid;
    grid-template-columns: minmax(1.33rem, 1fr) minmax(0, 1520px) minmax(1.33em, 1fr); /* make the content in column 2 a max opf 1520px. Devide the space to the right with a margin on the sides of 1.33em */
   }
   .grid_receiver {
    grid-column: 2 / 2; /* make this the second column - > see line 61 */
   }
   .grid_giver_desktop {
    margin: 0 0 1.25rem 0;
    @media (min-width: 860px) {
     position: relative;
     display: grid;
     grid-template-columns: minmax(1.33rem, 1fr) minmax(0, 1520px) minmax(1.33em, 1fr);
    }
   }
   .grid_receiver_desktop {
    @media (min-width: 860px) {
     grid-column: 2 / 2;
    }
   }


@keyframes updated {
    0% {
      transform:scale(1);
    }
    50% {
      transform:scale(1.5);
    }
    100% {
      transform:scale(1);
    }
  }