body{
    header{
        font-size: 16px;
        line-height: 1em;
        background-color: var(--white);
        z-index: 9;
        position: sticky;
        top: 0;
        display: grid;
        grid-template-columns: min-content 1fr min-content;
        padding: 2rem;
        border-bottom: 1px solid var(--light-border);
        #menu-opened {
            display: none;
        }
        .hamburger{
            height: 0;
            width: 0;
            grid-row: 2;
            @media (min-width :860px){
                display: none;
            }
        }
        .hamburger + label{
            z-index: 9999999;
            position: relative;
            display: inline-block;
            width: 3rem !important;
            height: 3rem !important;
            cursor: pointer;
            svg{
                width: 3rem !important;
                height: 3rem !important;
            }
            @media (min-width: 860px){
                display: none;
            }
        }
        .hamburger:focus + label{
            outline: 5px auto -webkit-focus-ring-color;
        }
        .hamburger:hover + label,
        .hamburger:focus + label {
                svg > path {
                    stroke: var(--red);
                }
            }
        .hamburger:checked + label #menu-closed {
            display: none;
        }
        
        .hamburger:checked + label #menu-opened {
            display: block;
        }
        .hamburger ~ nav{
            display: flex;
            flex-direction: column;
            left: -100%;
            @media (max-width: 859px){
                ul{
                    li{
                        display: none;
                    }
                }
            }
            @media (min-width: 860px){
                display: block;
            }
        }
        .hamburger:checked ~ nav{

            left: 0%;
            @media (max-width: 859px){
                ul{
                    li{
                        display: initial;
                    }
                }
            }
        }
        a.logo {
            display: inline-flex;
            justify-content: center;
            transition: 0.3s ease;
            img {
                max-width: 150px;
                width: 150px;
            }
            @media (min-width: 860px){
                position: absolute;
                top: calc(2rem + 50px);
                max-height: 36px;
                left: 50%;
                translate: -50% 0;
            }
        }
        .tagline{
            padding: 1rem;
            text-align: center;
            display: grid;
            border-bottom: 1px solid var(--light-border);
            position: absolute;
            top: calc(100% + 1px);
            width: 100%;
            transition: 0.3s ease;
            background-color: var(--white);
            >* {
                line-height: 1.4em;
                font-size: 11px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            @media (min-width: 860px){
                border-bottom: 0;
                grid-row: 1;
                grid-column: 1 / 1;
                position: relative;
                top: unset;
                text-align: left;
            }
        }
        button.search-icon{
            grid-row: 1;
            grid-column: 3/3;
            transition: 0.3s ease;
            font-size: 0;
            display: flex;
            align-items: center;
            &:hover,
            &:focus {
                svg, svg > * {
                    stroke: var(--red);
                    fill: var(--red);
                }
            }
            @media (min-width :860px){
                svg{
                    height: 24px;
                    width: 24px;
                }
            }
            
        }
        nav{
            /* MOBILE NAV */
            @media (max-width: 859px){
                border-right: 1px solid #757575;
                height: 100vh;
                width: 94%;
                left: -100%;
                transition: 0.2s ease-in;
                position: absolute;
                top: 0;
                padding: 100px 30px 0 30px;
                z-index: 99;
                background: var(--white);
            }
            ul{
                /* General link style */
                display: flex;
                justify-content: center;
                list-style-type: none;
                font-size: 1rem;
                gap: 2em;

                >li {
                    display: flex;
                    align-items: center;
                    &:not(.menubutton) >a, button{
                        color: var(--black);
                        position: relative;
                        @media (min-width: 860px){
                            letter-spacing: 1px;
                        }
                        line-height: 2em;
                        max-width: 100px;
                        &:not(.link_leeslijst){
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            transform: scaleX(0);
                            height: 2px;
                            bottom: -3px;
                            left: 0;
                            background-color: var(--black);
                            transform-origin: bottom right;
                            transition: transform 0.25s ease-out;
                        }

                        &:hover,
                        &:focus,
                        &.active {
                            &:after {
                                transform: scaleX(1);
                                transform-origin: bottom left;
                            }
                        }
                    }
                    button{
                        height: 16px;
                        display: flex;
                        align-items: center;
                    }
                    &.menubutton {
                        >a {
                            color: var(--white);
                            display: block;
                            border-radius: 2px;
                            padding: 2px 1.5em;
                            line-height: 2em;
                            background-size: 100% 200%;
                            transition: 0.3s ease;
                            background-position: bottom;
                            background-image: linear-gradient(var(--black) 50%, var(--red) 50%);
                        }

                        &:hover > a,
                        >a:focus{
                            background-position: top;
                        }
                    }
                }
                

                &.topnav{ /* desktop = black bar */
                    @media (max-width: 859px){
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        padding-top: 30px;
                        font-weight: 900;
                        gap: 0;
                        order: 2;
                        li{
                            a{
                                line-height: 2.5em;
                                font-size: 13px;
                                &.link_leeslijst{
                                    position: relative;
                                    span.counter{
                                        position: absolute;
                                        border: 1px solid var(--black);
                                        background-color: var(--red);
                                        color: var(--white);
                                        font-size: 10px;
                                        width: 15px;
                                        height: 15px;
                                        left: calc(100% - 1px);
                                        top: -6px;
                                        border-radius: 50%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        &[count="0"]{
                                            display: none;
                                        }
                                        &.added{
                                            background-color: rebeccapurple;
                                            animation-name:updated;
                                            animation-duration:.2s;
                                            animation-iteration-count:2;
                                        }
                                    }
                                    
                                    .counter::before {
                                        content: attr(data-count);
                                        color: var(--white);
                                    }
                                }
                            }
                            .link_leeslijst:has(.counter[data-count="0"]){
                                display: none !important;
                            }
                        }
                    }
                    @media (min-width: 860px){
                        position: absolute;
                        background-color: var(--black);
                        display: flex;
                        justify-content: flex-end;
                        padding: 8px 4rem;
                        gap: 1.6em;
                        list-style-type: none;
                        top: 0;
                        width: 100%;
                        left: 0;
                        >li {
                            >a {
                                color: var(--white);
                                font-size: 1rem;
                                letter-spacing: 1px;
                                position: relative;
                                &:after {
                                    content: '';
                                    position: absolute;
                                    width: 100%;
                                    transform: scaleX(0);
                                    height: 2px;
                                    bottom: -3px;
                                    left: 0;
                                    background-color: var(--white);
                                    transform-origin: bottom right;
                                    transition: transform 0.25s ease-out;
                                }

                                &:hover,
                                &:focus,
                                &.active {
                                    &:after {
                                        transform: scaleX(1);
                                        transform-origin: bottom left;
                                    }
                                }
                                
                            }
                        }
                    }
                }
                &.primary-navigation{ /* cat menu */
                    @media (max-width: 859px){
                        gap: 0;
                        display: flex;
                        flex-direction: column;
                        height: fit-content;
                        position: unset;
                        top: 0;
                        justify-content: flex-start;
                        padding-bottom: 30px;
                        border-bottom: 1px solid var(--light-border);
                        li{
                            a{
                                line-height: 2.5em;
                                font-size: 18px;
                            }
                        }
                        order: 1;
                    }
                    @media (min-width: 860px){
                        left: 0;
                        padding: 1rem;
                        text-align: center;
                        display: flex;
                        border-bottom: 1px solid var(--light-border);
                        position: absolute;
                        top: calc(100% + 1px);
                        width: 100%;
                        background-color: var(--white);
                    }
                }
                &.middlenav{
                    @media (max-width: 859px){
                    display: none;
                    }
                    @media (min-width :860px){
                        justify-content: flex-end;
                        margin-right: 2em;
                    }
                    justify-content: flex-end;
                    .link_leeslijst{
                        position: relative;
                        span.counter{
                            position: absolute;
                            border: 1px solid var(--black);
                            background-color: var(--red);
                            font-size: 10px;
                            width: 15px;
                            height: 15px;
                            left: calc(100% - 3px);
                            top: -6px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &[data-count="0"]{
                                display: none;
                            }
                            &.remove, &.added{
                                animation-name:updated;
                                animation-duration:.5s;
                                animation-iteration-count:1;
                            }
                            &.remove{
                                background-color: var(--brownred);
                            }
                            &.added{
                                background-color: #81A548;
                            }
                        }
                        .counter::before {
                            content: attr(data-count);
                            color: var(--white);
                        }
                        
                    }
                    .link_leeslijst:has(.counter[data-count="0"]), .link_leeslijst:has(.counter[data-count="0"]) + .tooltip_leeslijst{
                        display: none !important;
                    }
                    li:has(.link_leeslijst) {
                        position: relative;
                        .tooltip_leeslijst{
                            opacity: 0;
                            display: none;
                            position: absolute;
                            left: 50%;
                            top: calc(100% + 37px);
                            translate: -50% 0;
                            z-index: 99;
                            padding: 16px;
                            background-color: var(--light-border);
                            max-width: 230px;
                            width: 230px;
                            border: 2px solid;
                            border-radius: 2px;
                            transition: 0.3s ease-in;
                            &.slide-out{
                                opacity: 1;
                                display: block;
                            }
                            .one_tooltip_article{
                                padding: 8px 0 12px 0;
                                position: relative;
                                &:not(:last-of-type){
                                    border-bottom: 1px solid var(--black);
                                }
                                &:first-child{
                                    padding-top: 0;
                                }
                                &:last-of-type{
                                    padding-bottom: 30px;
                                }
                                a{
                                    color: var(--black);
                                    
                                    > *{
                                        transition: color 0.1s ease;
                                    }
                                    h4, p{
                                        font-size: 12px;
                                    }
                                    h4{
                                        margin-bottom: 4px;
                                        letter-spacing: 1px;
                                        max-width: 180px;
                                    }
                                    p{
                                        line-height: 125%;
                                        letter-spacing: 0.5px;
                                        max-width: 153px;
                                    }  
                                    &:hover > *, &:focus > *{
                                        color: var(--red);
                                        
                                    }

                                    
                                }
                                .chev_right{
                                    width: 9px;
                                    height: 16px;
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    translate: 0 -50%;
                                    fill: var(--black);
                                    stroke: var(--black);
                                    > *{
                                        fill: var(--black);
                                        stroke: var(--black);
                                    }

                                }
                                &:hover .chev_right, &:focus .chev_right{
                                    > *{
                                        fill: var(--red);
                                        stroke: var(--red);
                                    }
                                }

                            }
                            .tooltip_triangle{
                                width: 0;
                                height: 0;
                                bottom: 100%;
                                left: 50%;
                                border-left: 23px solid transparent;
                                border-right: 23px solid transparent;
                                border-bottom: 34px solid var(--black);
                                position: absolute;
                                transform: translateX(-50%);
                                &:after{
                                    content: '';
                                    width: 0;
                                    height: 0;
                                    border-left: 26px solid transparent;
                                    border-right: 26px solid transparent;
                                    border-bottom: 38px solid var(--light-border);
                                    position: absolute;
                                    top: 3px;
                                    left: -26px;
                                }
                            }
                            .tooltip_close{
                                position: absolute;
                                right: 16px;
                                cursor: pointer;
                                z-index: 10;
                                &:hover, &:focus{
                                    &:before, &:after{
                                        display: none;
                                    }
                                    svg, svg > *{
                                        stroke: var(--red);
                                    }
                                }
                            }
                            a.tooltip_btn{
                                color: var(--white);
                                display: block;
                                padding: 2px 1.5em;
                                line-height: 2em;
                                background-size: 100% 200%;
                                transition: 0.3s ease;
                                background-position: bottom;
                                background-image: linear-gradient(var(--red) 50%, var(--black) 50%);
                                width: fit-content;
                                border-radius: 2px;
                                margin: 0 auto;
                                letter-spacing: 1px;
                                &:hover,
                                &:focus{
                                    background-position: top;
                                }
                            }
                            &.active_tooltip{
                                display: block;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            @media (min-width :860px){
                grid-column: 2 / 2;
                grid-row: 1 / 1;
                justify-content: end;
                display: flex;
            }
        }
        @media (min-width :860px){
            padding-top: calc(2rem + 40px);
            padding-left: 4rem;
            padding-right: 4rem;
            align-items: center;
            grid-template-columns: max-content 1fr min-content;
            transition: 0.3s ease;
            &.small{
                padding-top: 2rem;
                a.logo{
                    top: 2rem;
                }
            }
        }
    }
}

